.App {
  text-align: center;
  background-color:#0A0E21;
}

.App-header,.App-footer {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
  background-color:#1D1E33;
  opacity: .7;
}
.App-header{
  height:15vh;
}
.App-footer{
  height:10vh
}
.App-main{
  height:75vh;
}


